.efforts-arch-container {
    background-color: #F1F6F7;
    padding: 15px;
    border-radius: 10px;
    .efforts-arch-value {
        font-weight: 600;
        font-size: 1rem;
    }
    .efforts-arch-title {
        font-weight: 500;
        font-size: 0.8rem;
    }
}
