.estimation-details-container {
    min-height: 100vh;
    background-color: #f1f6f7;
    display: flex;
    flex-direction: column;

    .estimation-details-content {
        padding: 50px 40px;
        .edit-estimation-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .project-name {
            font-weight: 500;
            font-size: 1.7rem;
        }
        .project-details {
            font-size: 1.2rem;
            margin-top: 5px;
        }
        .top-overview-area {
            display: grid;
            grid-gap: 40px;
            grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
            margin-top: 50px;
        }
    }

    .efforts-breakdown-title {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .effort-breakdown-container {
        background-color: white;
        padding: 50px 40px;
        margin-top: 20px;
        .efforts-breakdown-list {
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 20px;
        }
    }

    .result-title {
        font-size: 1.5rem;
        color: #FE5C1C;
    }   

    .result-container {
        background-color: white;
        padding: 20px 40px;
        flex: 1;
        .result-list {
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-gap: 20px;
        }
    }
}

@media (max-width:478px) {
    .estimation-details-container {
        .estimation-details-content {
            padding: 50px 20px;
            .top-overview-area { 
                grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
            }
        }
        .effort-breakdown-container {
            
            padding: 50px 20px;
        }
        .result-container {
            padding: 20px 20px;
        }
    }
}