.results-arch-container {
    background-color: #F1F6F7;
    padding: 15px;
    border-radius: 10px;
    .results-arch-value {
        font-weight: bold;
        font-size: 2rem;
    }
    .results-arch-title {
        color: #756F86;
        font-size: 1.2rem;
    }
}